@tailwind base;
@tailwind components;
@tailwind utilities;
@import "variables";
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #0E223F;
  font-family:$bodyFontFamily;
  font-size:$bodyFontSize;
  color:$primaryWhite;
}

h1{
  font-size: $headerFontSize;
}

