$primaryBlue:#117E9F;
$secondaryBlue:#0E223F;
$orange:#D55F19;
$primaryWhite:#F8F6F3;
$bodyFontSize:1.125rem;
$buttonTextSize:1.5rem;
$headerFontSize:1.625rem;
$titleFontSize:4.5rem;;
$bodyFontFamily:'Georgia, Regular';
$buttonFontFamily:'Noto sans, Medium';
$headerFontFamily:'Noto sans, Regular';